<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>
    <style>
        body{
            padding-top: 200px;
            margin-left: 300px;
        }
    </style>


    <h1>Loginga krish</h1>
    <form  method="post">
        {% csrf_token %}
        <input type="text" placeholder="username kriting"name='username'>
        <br><br>
        <input type="password" placeholder="Parol kriting"name='password'>
        <br><br>
        <button type="sumbit">Kirish</sumbit></button>
    </form>
    <br>
    <a href="{% url 'registor_list' %}">Akkauntingiz yoqmi</a>
</body>
</html>